@import "src/styles/mixins";
@import "src/styles/variables";


.friends {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;

  h1 {
    font-family: $fontFamily;
    font-size: 28px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 100%;

    &_content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      height: 88%;
      overflow: scroll;
    }
  }
}