@import "src/styles/mixins";


.layout {
  display: flex;
  height: 100vh;
  min-height: 1000px;
  width: 100vw;
  overflow: hidden;


  [id = 'background'] {
    position: absolute;
    height: inherit;
    min-height: 1000px;
    width: inherit;
    object-fit: cover;
  }

  &__container {
    margin: auto;
    display: flex;
    width: 1450px;
    height: 100%;
    justify-content: center;
    z-index: 1;


    &_content {
      margin: auto;
      display: flex;
      height: 950px;
      width: 100%;
      gap: 32px;

      aside {
        flex-direction: column;
        gap: 16px;
        min-width: 350px;

        @include wrapper-main;
        @include glassmorphism-main;
      }

      &_children {
        width: 100%;
        overflow: scroll;

        @include wrapper-main;
        @include glassmorphism-main;
      }
    }
  }
}